@import url(https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@600&display=swap);

.InputHistory {
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    font-family: "Cardo", serif;

    h2 {
      margin: 0;
      padding: 0;
    }
  }