@font-face {
  font-family: 'Playfair Display', serif;  
  src: url("../../../fonts/Cinzel/static/Cinzel-SemiBold.ttf");
}
.header {
    background-color: #906047;
    width: 100%;
    margin: 0;
    padding: 10px;
    color: #291b14;
  
    h2 {
      margin: 0;
      padding: 0;
    }
  }